<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <th:title text="${appname}+'[Home Page]'"></th:title>
		<style>
	    	fieldset { padding:10; border:1; margin-top:25px; background-color: white;}
	    	.containerTable{padding-left: 100px; padding-right: 30px;}
	    	.ui-dialog .ui-state-error { padding: .3em; }
	    	.validateTips { border: 1px solid transparent; padding: 0.3em; }		
			.ui-draggable, .ui-droppable {
				background-position: top;
			}
	    </style>
	    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" th:href="@{/css/main.css}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	  	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<nav  class="navbar navbar-expand-md" th:include="header :: menu"></nav>
		</header>

		<main role="main" class="containerTable">
			<br/><br/>
		    
		</main>
		<!-- /.container -->
	
		
	</body>
</html>